.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  gap: 2em;
}

.card {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0.5em 1em hsla(0, 0%, 50%, 25%);
  transition: all 0.25s;
}
.card__image {
  display: flex;
  align-items: center;
  margin-right: 1em;
}
.card__image img {
  height: 7em;
  border-radius: 5px;
  opacity: 0.5;
  transition: opacity 0.25s;
}
.card__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.description {
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
}

.stock span {
  margin-left: 0.5em;
}

.card:hover {
  box-shadow: 0 0.75em 1em rgba(0, 0, 0, 0.25);
  transform: translateY(-5px);
}
.card:hover .card__image img {
  opacity: 1;
}
