@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #2e2e3e;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f0f0f0;
}

.f-right {
  margin-left: auto;
}

#app {
  padding: 0 1em;
}
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: space-around;
}
.f-normal {
  font-weight: normal;
}
.mb-1 {
  margin-bottom: 0.25em;
}
.mb-4 {
  margin-bottom: 1em;
}
.ml-1 {
  margin-left: 0.25em;
}
.f-size-1 {
  font-size: 0.75rem;
}
.f-size-2 {
  font-size: 0.8rem;
}
.f-size-3 {
  font-size: 0.85rem;
}
.color-grey {
  color: #888;
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}
.btn {
  display: flex;
  height: 2.5em;
  min-width: 2.5em;
  justify-content: center;
  align-items: center;
  color: #2e2e3e;
  border: none;
  border-radius: 5px;
  padding: 0.5em 0.75em;
  box-shadow: 0 0.5em 1em hsla(229, 60%, 67%, 50%);
}

.btn:not(:disabled) {
  cursor: pointer;
  background-color: hsl(229, 60%, 67%);
  transition: all 0.25s;
  color: #f0f0f0;
}
.btn:not(:disabled):hover {
  transform: translate(0, -5px);
}

.btn:disabled {
  background-color: #fff;
  opacity: 0.5;
  box-shadow: none;
}

.btn.simple {
  box-shadow: none;
  background-color: transparent;
  color: hsl(229, 60%, 67%);
}

.btn.simple.danger {
  background-color: transparent;
  width: max-content;
  box-shadow: none;
  color: #f00;
}

.no-shadow {
  box-shadow: none;
}

.t-right {
  text-align: right;
}
