* {
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.paginate {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  border: none;
  border-radius: 5px;
  padding: 0.5em 0.75em;
  margin-left: 1em;
}
.btn:not(:disabled) {
  background-color: #5ad;
  transition: all 0.25s;
}
.btn:not(:disabled):hover {
  background-color: #adf;
}
